---
interface Props {
    ch?: string;
}

const { ch } = Astro.props;

if (ch === undefined && !Astro.slots.has('default')) {
    throw new Error(`Punc must have either a slot or a ch`);
} else if (ch !== undefined && Astro.slots.has('default')) {
    throw new Error(`Punc cannot have both a slot and a ch`);
}
---

<span class="punctuation"><slot>{ch}</slot></span>
