.katex {
    cursor: default;
}

.anim-box {
    display: inline-flex;
    width: fit-content;
    flex-flow: row nowrap;
    /* overflow: visible; */

    & .anim-element {
        transition: 0.5s ease-in-out;

        &:not(.visible) {
            opacity: 0%;
            max-width: 0;
        }
    }
}

.katex:has(.anim-box):hover {
    .anim-element {
        opacity: 100%;
        max-width: max-content !important;
        width: max-content !important;

        &:first-of-type::before {
            content: '(';
        }

        + .anim-element::before {
            content: '\00a0|\00a0';
        }

        &:last-of-type:after {
            content: ')';
        }
    }
}
