html, body {
    /* Important so that KaTeX doesn't override it */
    background-color: var(--background-main) !important;
    color: white;
    box-sizing: border-box;
    padding: 1rem;
    margin: 0;
}

body {
    /* Extra space gives breathing room for linking to parts of the page that are close to the bottom */
    margin-bottom: 100vh;
}

a {
    color: inherit;
}

.keyword {
    color: dodgerblue;
}

.type {
    color: lightseagreen;
}

.function {
    color: goldenrod;
}

.module {
    color: chocolate;
}

.comment {
    color: seagreen;
}

.field {
    color: lightskyblue;
}

table.alias-table {
    border-collapse: collapse;

    tr {
        & + tr td {
            border-top: 1px solid #223;
        }

        td {
            padding-right: 4ch;
            vertical-align: top;
            padding-block: 1em;

            .more-words {
                color: gray;
                font-size: small
            }
        }
    }
}

.scope {
    --scope-color: gold;

    .scope {
        --scope-color: orchid;

        .scope {
            --scope-color: dodgerblue;

            .scope {
                --scope-color: gold;

                .scope {
                    --scope-color: orchid;

                    .scope {
                        --scope-color: dodgerblue;
                    }
                }
            }
        }
    }
}

.scope {
    &.block {
        width: max-content;
        border: 4px solid var(--scope-color);
        border-left-width: 1px;
        border-right: none;
        border-radius: 1rem;
        padding: 1em 2ch;
        margin: 1em 0;
        transition: 70ms ease-in-out;

        &:not(:hover) {
            background-color: color-mix(in srgb, var(--scope-color) 5%, transparent);
        }
    }

    &.inline > .scope-delimiter {
        color: var(--scope-color);
    }
}

.glossary-list {
    padding: 0;
    list-style-type: none;
    gap: 1em;

    li:not(:last-child) {
        margin-bottom: 1em;
    }
}
