html, body {
    background-color: var(--background-main);
    color: white;
    box-sizing: border-box;
    padding: 1rem;
    margin: 0;
}

body {
    /* Extra space gives breathing room for linking to parts of the page that are close to the bottom */
    margin-bottom: 100vh;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: solid underline;
    }
}

.keyword {
    cursor: default;
    color: dodgerblue;

    &.control {
        color: violet;
    }
}

.type {
    color: lightseagreen;
}

.function {
    color: goldenrod;
}

.module {
    color: chocolate;
}

.comment {
    color: seagreen;
    cursor: default;

    &::before {
        content: '/* ';
    }

    &::after {
        content: ' */';
    }
}

h3 {
    margin-bottom: 0.25em;

    &:first-child {
        margin-top: 0;
    }
}

/* todo colorize notation for literal vs variable with button to switch */

.field {
    color: lightsteelblue;
}

.parameter {
    color: lightskyblue;
}

.trait {
    color: tomato;
}

.punctuation {
    color: #bbb;
    cursor: default;
}

.alias-list {
    &ul {
        list-style-type: none;
        padding-left: 0;
        margin-left: 0;
    }

    &table {
        border-collapse: collapse;

        td {
            padding: 0;
        }
    }
}

.parameter-list {
    &ul {
        list-style-type: none;
        padding-left: 0;
        margin-left: 0;
    }

    table {
        border-collapse: collapse;

        td {
            &:nth-child(1) {
                padding-left: var(--indent-size);
            }

            &:nth-child(2) {
                padding-left: 1ch;

                &::before {
                    color: lightgray;
                }

                &::after {
                    color: lightgray;
                }
            }
        }
    }
}

.item-description {
    background-color: var(--background-main);
    border: 1px solid color-mix(in srgb, var(--scope-color) 40%, transparent);
    transition: border-color 70ms ease-in-out;
    border-radius: 0.5em;
    padding: 8px;

    > p {
        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.scope:hover > .item-description {
    border-color: color-mix(in srgb, var(--scope-color) 25%, transparent);
}

.scope {
    --scope-color: gold;

    .scope {
        --scope-color: orchid;

        .scope {
            --scope-color: dodgerblue;

            .scope {
                --scope-color: gold;

                .scope {
                    --scope-color: orchid;

                    .scope {
                        --scope-color: dodgerblue;
                    }
                }
            }
        }
    }
}

.scope {
    .block {
        width: max-content;
        border: 4px solid var(--scope-color);
        border-inline: 1px solid color-mix(in srgb, var(--scope-color) 30%, transparent);
        border-radius: 1rem;
        padding: 1em 2ch;
        margin: 1em 0;
        transition: 70ms ease-in-out;

        &:not(:hover) {
            background-color: color-mix(in srgb, var(--scope-color) 5%, transparent);
        }
    }

    &.inline > .scope-delimiter {
        color: var(--scope-color);
    }
}

.brace-scope-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: fit-content;
    gap: 0;
    margin: 0.5em 0;

    .block {
        margin: 0;
    }

    .brace-spike {
        content: '';
        border: 0.5em solid transparent;

        &:first-of-type {
            border-bottom-color: var(--scope-color);
        }

        &:last-of-type {
            border-top-color: var(--scope-color);
        }
    }
}

.glossary-list {
    padding: 0;
    list-style-type: none;
    gap: 1em;

    li:not(:last-child) {
        margin-bottom: 1em;
    }
}
