html, body {
    background-color: var(--background-main);
    color: white;
    box-sizing: border-box;
    padding: 1rem;
    margin: 0;
}

body {
    /* Extra space gives breathing room for linking to parts of the page that are close to the bottom */
    margin-bottom: 100vh;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: solid underline;
    }
}

.keyword {
    cursor: default;
    color: dodgerblue;

    &.control {
        color: violet;
    }
}

.type {
    color: lightseagreen;
}

.function {
    color: goldenrod;
}

.module {
    color: chocolate;
}

.comment {
    color: seagreen;
    cursor: default;

    &::before {
        content: '// ';
    }
}

h3 {
    margin-bottom: 0.25em;

    &:first-child {
        margin-top: 0;
    }
}

/* todo colorize notation for literal vs variable with button to switch */

.field, .return {
    color: gray;
}

.parameter {
    color: lightskyblue;
}

.trait {
    color: tomato;
}

.punctuation {
    color: #bbb;
    cursor: default;
}

ul.alias-list {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

table.alias-list {
    border-collapse: collapse;

    td {
        padding: 0;
    }
}

ul.parameter-list {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

table.parameter-list {
    border-collapse: collapse;

    td {
        &:nth-child(2) {
            padding-left: 1ch;

            &::before {
                color: lightgray;
            }

            &::after {
                color: lightgray;
            }
        }
    }
}

.item-description {
    background-color: var(--background-main);
    border: 1px solid color-mix(in srgb, var(--scope-color) 40%, transparent);
    transition: border-color 70ms ease-in-out;
    border-radius: 0.5em;
    padding: 8px;

    > p {
        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.scope:hover > .item-description {
    border-color: color-mix(in srgb, var(--scope-color) 25%, transparent);
}

.scope {
    --scope-color: gold;

    .scope {
        --scope-color: orchid;

        .scope {
            --scope-color: dodgerblue;

            .scope {
                --scope-color: gold;

                .scope {
                    --scope-color: orchid;

                    .scope {
                        --scope-color: dodgerblue;
                    }
                }
            }
        }
    }
}

.scope {
    & > .block {
        width: max-content;
        border: 4px solid var(--scope-color);
        padding: 1em 2ch;
        margin: 1em 0;
        transition: 70ms ease-in-out;

        &:not(:hover) {
            background-color: color-mix(in srgb, var(--scope-color) 5%, transparent);
        }
    }

    &.vertical {
        & > .block {
            border-inline: 1px solid color-mix(in srgb, var(--scope-color) 30%, transparent);
            /* border-inline-width: 0; */
        }

        &.brace-scope-container > .block {
            border-radius: 1em;
        }

        &.paren-scope-container > .block {
            border-top-left-radius: 50% 1.5em;
            border-top-right-radius: 50% 1.5em;
            border-bottom-left-radius: 50% 1.5em;
            border-bottom-right-radius: 50% 1.5em;
        }

        &.brack-scope-container > .block {
            border-top-left-radius: 4px 1em;
            border-top-right-radius: 4px 1em;
            border-bottom-left-radius: 4px 1em;
            border-bottom-right-radius: 4px 1em;
        }
    }

    &.horizontal {
        & > .block {
            border-block: 1px solid color-mix(in srgb, var(--scope-color) 30%, transparent);
            /* border-block-width: 0; */
        }

        &.brace-scope-container > .block {
            border-radius: 1em;
        }

        &.paren-scope-container > .block {
            border-top-left-radius: 1.5em 50%;
            border-top-right-radius: 1.5em 50%;
            border-bottom-left-radius: 1.5em 50%;
            border-bottom-right-radius: 1.5em 50%;
        }

        &.brack-scope-container > .block {
            border-top-left-radius: 1em 4px;
            border-top-right-radius: 1em 4px;
            border-bottom-left-radius: 1em 4px;
            border-bottom-right-radius: 1em 4px;
        }
    }

    &.inline > .scope-delimiter {
        color: var(--scope-color);
    }
}

.brace-scope-container, .paren-scope-container, .brack-scope-container {
    display: flex;

    &.vertical {
        flex-flow: column nowrap;
    }

    &.horizontal {
        flex-flow: row nowrap;
    }

    align-items: center;
    width: fit-content;
    gap: 0;
    margin: 0.5em 0;

    & > .block {
        margin: 0;
    }
}

.brace-scope-container > .brace-spike {
    content: '';
    border: 0.5em solid transparent;
}

.vertical.brace-scope-container > .brace-spike {
    &:first-of-type {
        border-bottom-color: var(--scope-color);
        margin-top: -0.5em;
    }

    &:last-of-type {
        border-top-color: var(--scope-color);
        margin-bottom: -0.5em;
    }
}

.horizontal.brace-scope-container > .brace-spike {
    &:first-of-type {
        border-right-color: var(--scope-color);
        margin-left: -0.5em;
    }

    &:last-of-type {
        border-left-color: var(--scope-color);
        margin-right: -0.5em;
    }
}

.glossary-list {
    padding: 0;
    list-style-type: none;
    gap: 1em;

    li:not(:last-child) {
        margin-bottom: 1em;
    }
}

.function-signature {
    display: inline-flex;
    flex-flow: row nowrap;
    gap: 1ch;
    align-items: center;
}
