/* copied from https://www.w3schools.com/css/css_tooltip.asp */

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;

    &:hover {
        background-color: var(--background-tooltip);
        margin: -0.5rem -0.5rem;
        padding: 0.5rem 0.5rem;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;

        /* Show the tooltip text when you mouse over the tooltip container */
        .tooltiptext {
            visibility: visible;
        }
    }
}

a.here-ref {
    text-decoration: none;
    font-weight: bold;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: max-content;
    background-color: var(--background-tooltip);
    padding: 0.75rem;
    border-radius: 6px;
    border-top-left-radius: 0;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);

    /* Position the tooltip text - see examples below! */
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    p:last-child {
        margin-bottom: 0;
    }
}

.part-of-speech {
    user-select: none;
    background-color: rgba(0, 0, 0, 0.35);
    padding: 1px 0.5ch;
    border-radius: 3px;
    font-size: small;

    &.noun {
        color: dodgerblue;
    }

    &.verb {
        color: goldenrod;
    }

    &.adjective {
        color: lightskyblue;
    }
}
