/* use https://www.w3schools.com/css/css_tooltip.asp for reference */

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;

    &:hover {
        background-color: color-mix(in srgb, skyblue 15%, transparent);
        margin: -2px -0;
        padding: 2px 0;
        /* border-top-left-radius: 6px;
        border-top-right-radius: 6px; */
        transition: background-color 100ms 360ms;
        z-index: 1;

        /* Show the tooltip text when you mouse over the tooltip container */
        .tooltiptext {
            display: inline;
            opacity: 100%;
            transition: 100ms 360ms;
        }
    }
}

.katex .tooltip:hover {
    /* font-size: 2rem; */
    transition: font-size 100ms 360ms, background-color 100ms 360ms;

    & a {
        /* underline has special meaning in math */
        text-decoration: none;
    }
}

/* Tooltip text */
.tooltip > .tooltiptext {
    font-size: 16px;
    font-weight: normal;
    /* font-family: serif; */
    opacity: 0;
    display: none;
    width: max-content;
    background-color: var(--background-main);
    border: 1px solid #3a3a3a;
    border-radius: 4px;
    /* border-top-left-radius: 0; */
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
    color: white;
    padding: 0.5em 0.7em;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;

    p:first-child {
        margin-top: 0;
    }

    p:last-child {
        margin-bottom: 0;
    }
}
