---
import PageBase from "../layouts/PageBase.astro";
import { tree } from "../scripts/glossary";
import Node from "../components/index/Node.astro";
---

<PageBase title="Amy's STEM Notes">
    <Fragment slot="head">
        <style>
            main {
                display: flex;
                flex-flow: row nowrap;
                gap: 3em;
            }
        </style>
        <script>
            // Open details recursively when linking to a closed part of the page
            window.addEventListener('hashchange', (event: HashChangeEvent) => {
                const id = event.newURL.slice(event.newURL.indexOf('#')).replace(/\+/g, '\\2b');
                const query = `details:has(${id})`;
                const elements = document.querySelectorAll(query);
                for (const element of elements) {
                    element.setAttribute('open', 'true');
                }
            });
        </script>
    </Fragment>
    <main>
    {tree.map((module) => <div class="module-column"><Node node={module}/></div>)}
    </main>
</PageBase>
