---
import Ref from '../components/Ref.astro';
import PageBase from '../layouts/PageBase.astro';
---

<PageBase>
	<Fragment slot="head">
		<title>Hello world</title>
	</Fragment>
	<h1>Hello world</h1>
	A <Ref text="scalar"/> is a value.
</PageBase>
