---
import AnimatedKatex from '../components/AnimatedKatex.astro';
import ModuleOverview from '../components/ModuleOverview.astro';
import Comment from '../components/syntax/Comment.astro';
import GlossaryPage from '../layouts/GlossaryPage.astro';
import { glossary } from '../scripts/glossary';
---

<GlossaryPage title='Glossary'>
	<h1><Comment>Glossary</Comment></h1>
	{Object.keys(glossary).map((mod: string) => <ModuleOverview mod={mod}/>)}
	<AnimatedKatex tex={[]}>
</GlossaryPage>
