---
import TypePage from '../layouts/TypePage.astro';
import Ref from '../components/Ref.astro';
import Katex from '../components/Katex.astro';
---

<TypePage typeName='scalar' mod="basic">
    <Fragment slot='notation'>
        <Katex tex="\\text{hello world}"/>
    </Fragment>
    <Fragment slot='description'>
        A <Ref text="scalar"/> is a singular count or value.
        <div class="scope">
            apple
            <div class="scope">
                orange
                <div class="scope">
                    banana
                    <div class="scope">
                        mango
                        <div class="scope">
                            pineapple
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </Fragment>
</TypePage>
