---
import type { GlossaryEntry } from '../scripts/glossary'
import type { ValidKeyword } from '../scripts/syntax';
import Ref from './Ref.astro';
import Keyword from './syntax/Keyword.astro';

interface Props {
    of: GlossaryEntry;
}

const { of } = Astro.props;
---

<tr><td><Keyword tkn={of.data.kind}/> <Ref item={of}><slot/></Ref></td> <td><Ref item={of}/></td></tr>
