---
import { type ItemPath } from '../scripts/glossary';
import Ref from "./Ref.astro";
import Comment from "./syntax/Comment.astro";
import Katex from "./Katex.astro";

interface Props {
    path: ItemPath;
    ty: ItemPath;
    symbol: string;
}

const { path, ty, symbol } = Astro.props;
---

<h3><Comment><Katex tex={symbol}></Comment> in <a href="#notation">notation</a></h3>
<Ref path={path} mustBe="field"/>: <Ref path={ty} mustBe="type"/>
