---
import { isValidKeyword, type ValidKeyword } from "../scripts/syntax";
import { type ItemPath } from '../scripts/glossary';
import Ref from "./Ref.astro";
import Keyword from "./syntax/Keyword.astro";
import Comment from "./syntax/Comment.astro";
import Katex from "./Katex.astro";

interface Props {
    path: ItemPath;
    ty: ItemPath | ValidKeyword;
    symbol: string;
}

const { path, ty, symbol } = Astro.props;
---

<Ref path={path}/>: {() => {
    if (isValidKeyword(ty)) {
        return <Keyword tkn={ty}/>;
    } else {
        return <Ref path={ty}/>;
    }
}}; <Comment>Symbol in <a href="#notation">notation</a>: <Katex tex={symbol}></Comment>
