---
import Ref from "./Ref.astro";
import Comment from "./syntax/Comment.astro";
import Katex from "./Katex.astro";
import Punc from "./syntax/Punc.astro";
import type { GlossaryEntry } from "../scripts/glossary";
import { getEntries } from "astro:content";
import TypeUnion from "./TypeUnion.astro";

interface Props {
    item: GlossaryEntry;
    symbol: string;
}

const { item, symbol } = Astro.props;

if (item.data.kind !== 'field' && item.data.kind !== 'parameter') {
    throw new Error(`Expected a field or parameter; '${item.slug}' is not a field or parameter`);
}
---

<!-- <h3><Comment><Katex tex={symbol}> in <a href="#notation">notation</a></Comment></h3> -->
<!-- <Comment>{item.data.brief}</Comment><br/> -->
<Ref item={item}/><Punc ch=":"/> <TypeUnion list={item.data.typeUnion!}/><Punc ch=";"/>
