---
import { type GlossaryEntry, type Kind } from '../scripts/glossary';

interface Props {
    item: GlossaryEntry;
}

const { item } = Astro.props;
---

<a href={'/' + item.slug} class={item.data.kind}><slot>{item.slug.split('/').at(-1)!}</slot></a>
