---
import type { ItemPath } from '../scripts/glossary';
import Ref from './Ref.astro';
import ScopeBlock from './ScopeBlock.astro';
import Keyword from './syntax/Keyword.astro';
import Todo from './Todo.astro';

interface Props {
    path: ItemPath;
}

const { path } = Astro.props;
---

<h3>
    <Keyword tkn="operator"/> <Ref path={path} mustBe="function"/>
</h3>
<ScopeBlock>
    <slot><Todo/></slot>
</ScopeBlock>
