---
import { type ItemPath, getGlossaryItem, glossary } from "../scripts/glossary";
import ModuleOverviewItem from "./ModuleOverviewItem.astro";
import ScopeBlock from "./ScopeBlock.astro";
import Keyword from "./syntax/Keyword.astro";
import Module from "./syntax/Module.astro";

interface Props {
    mod: string;
}

const { mod } = Astro.props;

const list: ItemPath[] = Object.keys(glossary[mod]).map((key: string) => [mod, key]);
---

<h2><Keyword tkn="module"/> <Module tkn={mod}/></h2>
<ScopeBlock>
    <ul class="glossary-list">
        {list.map((path) => <li><ModuleOverviewItem path={path}/></li>)}
    </ul>
</ScopeBlock>
