---
import { getGlossaryItem, type ItemPath } from "../scripts/glossary";
import Ref from "./Ref.astro";
import ScopeBlock from "./ScopeBlock.astro";

interface Props {
    path: ItemPath;
}

const { path } = Astro.props;

const propertiesObj = getGlossaryItem(path).properties;
console.log(path, propertiesObj);
const propertyList: ItemPath[] = propertiesObj ? Object.keys(propertiesObj).map((key) => [...path, key]) : [];
---

<Ref path={path}/>
{propertyList.length !== 0 &&
    <ScopeBlock>
        <ul class="glossary-list">
            {propertyList.map((propPath) => <li><Astro.self path={propPath}/></li>)}
        </ul>
    </ScopeBlock>
}
