---
import { type GlossaryItem, findReference } from '../scripts/glossary';

interface Props {
    text: string;
    /** Leave undefined if text is same as key */
    key?: string;
}

const { text, key = text } = Astro.props;

/** Data about the item we are referencing */
const item: GlossaryItem = findReference(key);

/** Reference leads to the page we are already on */
const isHereRef = Astro.url.href.match(RegExp(`.*[/#]${item.href}$`));
---

<div class="tooltip">
    <a href={'/' + item.href} class:list={[item.kind, isHereRef ? "here-ref" : undefined]}>{text}</a>
    <span class="tooltiptext">
        <span class="keyword">module</span> <span class="module">{item.module}</span><br/>
        {item.brief}
        {!isHereRef && <><br/><br/>More information:<br/><a href={'/' + item.href}>{Astro.url.origin + '/' + item.href}</a></>}
    </span>
</div>
