---
import { type GlossaryEntry } from '../scripts/glossary';
import LilRef from './LilRef.astro';
import RefPath from './RefPath.astro';

export interface Props {
    item: GlossaryEntry;
}

const { item } = Astro.props;
if (item === undefined) throw new Error(`Cannot reference undefined`);
---

<div class="tooltip">
    <LilRef item={item}><slot>{item.slug.split('/').at(-1)}</slot></LilRef>
    <span class="tooltiptext">
        <RefPath item={item}/>
        <p></p>
    </span>
</div>
