---
import Module from './syntax/Module.astro';
import { type GlossaryItem, type ItemPath, type Kind, getGlossaryItem, itemPathToHref } from '../scripts/glossary';

interface Props {
    path: ItemPath;
}

const { path } = Astro.props;
const module = path[0];

const pathItems: { kind: Kind, href: string, part: string }[] = path.slice(1).map((part: string, index: number) => {
    index += 1; // Account for slice
    const subPath: ItemPath = [module, ...path.slice(1, index), part];
    const item: GlossaryItem = getGlossaryItem(subPath);
    const kind: Kind = item.kind;
    const href: string = itemPathToHref(subPath);
    return { kind, href, part };
});
---

<Module tkn={module}/>{pathItems.map(({ kind, href, part }, index) =>
    <><span style="cursor:default">::</span><a class={kind} href={href}>{part}</a></>
)}
