---
import ScopeInline from "./ScopeInline.astro";

interface Props {
    delim?: 'brace' | 'paren' | 'brack';
    horizontal?: true;
}

const { delim = 'brace', horizontal } = Astro.props;
---

<style>
    details:not(:last-child) {
        margin-bottom: 1em;
    }
    details > summary {
        list-style-position: outside;
        .hide-when-open {
            color: gray;
        }
    }
    details[open] > summary .hide-when-open {
        display: none;
    }
</style>

{() => {
    const inner = <div class:list={['scope', delim + '-scope-container', horizontal ? 'horizontal' : 'vertical']}>
        {delim === 'brace' && <span class="brace-spike"></span>}
        <div class="block">
            <slot></slot>
        </div>
        {delim === 'brace' && <span class="brace-spike"></span>}
    </div>

    return Astro.slots.has('summary')
        ? <details open>
            <summary>
                <slot name="summary"></slot><span class="hide-when-open"> <ScopeInline delim="{}">...</ScopeInline></span>
            </summary>
            {inner}
        </details>
        : <div>{inner}</div>
}}
