---
import type { ValidContentEntrySlug } from "astro:content";
import ModuleOverview from "../components/ModuleOverview.astro";
import Comment from "../components/syntax/Comment.astro";
import GlossaryPage from "./GlossaryPage.astro";
import { type MarkdownLayoutProps } from 'astro';

type Props = MarkdownLayoutProps<{
    slug: ValidContentEntrySlug<'glossary'>
}>;

const { frontmatter: { slug } } = Astro.props;
---

<GlossaryPage title={slug}>
    <h1><Comment>The {slug} module</Comment></h1>
    <ModuleOverview module={slug}/>
</GlossaryPage>
