---
import PageBase from './PageBase.astro';
import Todo from '../components/Todo.astro';
import Keyword from '../components/syntax/Keyword.astro';
import Module from '../components/syntax/Module.astro';

interface Props {
    title: string;
    module: string;
}

const { title, module } = Astro.props;
---

<PageBase>
    <Fragment slot='head'>
        <title>{title}</title>
    </Fragment>
    <strong><Keyword tkn="module"/> <Module tkn={module}/></strong>
    <slot><Todo/></slot>
</PageBase>
