---
import '../styles/style.css';
import '../styles/vars.css';
import '../styles/tooltip.css';

console.log(Astro.url.href, Astro.url.origin)
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/katex@0.16.10/dist/katex.min.css"
            integrity="sha384-wcIxkf4k558AjM3Yz3BBFQUbk/zgIYC2R0QpeeYb+TwlBVMrlgLqwRjRtGZiK7ww"
            crossorigin="anonymous"
        >
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <slot name="head"></slot>
        <style>
            .katex-version {display: none;}
            .katex-version::after {content:"0.10.2 or earlier";}
          </style>
	</head>
	<body>
        <slot></slot>
        {Astro.url.href !== Astro.url.origin ? <a href="/" style="color: rgba(255,255,255,0.25)">glossary</a> : <></>}
	</body>
</html>
